Repository voxpupuli/puppet-virtualbox, pull requests merged in 2024-03, with the labels that each got.

#149 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#147 puppet/epel: Allow 5.x
  metadata.json
Labels: enhancement

#148 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#150 Release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
